*/node_modules/
*/*/node_modules/
*/package-lock.json
functions/.runtimeconfig.json
*/firebase-debug.log
firebase-debug.log
.DS_Store
.firebase
service_account.json
client/ui-debug.log
database-debug.log
ui-debug.log
dist
.vscode
test/data/newDummyData
service_account.json