*/node_modules/
*/*/node_modules/
*/package-lock.json
functions/.runtimeconfig.json
*/firebase-debug.log
firebase-debug.log
.DS_Store
.firebase
service_account.json
service_account_production.json
service_account_staging.json
client/ui-debug.log
database-debug.log
ui-debug.log
dist
.vscode
*:
test/data/newDummyData
service_account.json
test/scripts/data
service-account.json
.mason
mason.yaml
mason-lock.json