<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606383265109-16eenb96it4mfiave8hnp6m2faqlj3u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606383265109-16eenb96it4mfiave8hnp6m2faqlj3u8</string>
	<key>API_KEY</key>
	<string>AIzaSyCu4xGBCfvX5AQjFpK_VbfV7x9VzdIIUnI</string>
	<key>GCM_SENDER_ID</key>
	<string>606383265109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mezstaging.customer</string>
	<key>PROJECT_ID</key>
	<string>mezcalmos-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>mezcalmos-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606383265109:ios:94da52b30d973afcd8cbdc</string>
	<key>DATABASE_URL</key>
	<string>https://mezcalmos-staging-default-rtdb.firebaseio.com</string>
</dict>
</plist>