<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804036698204-1ec0mq64u49dfb2j6umt5907dtibe1ba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804036698204-1ec0mq64u49dfb2j6umt5907dtibe1ba</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>804036698204-asifo3thj82e433pt5idptgjcah4rlvs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOVuUV0qhw0SbNrQMfMVTBDm-5bJVozYg</string>
	<key>GCM_SENDER_ID</key>
	<string>804036698204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mezcalmos.delivery</string>
	<key>PROJECT_ID</key>
	<string>mezcalmos-31f1c</string>
	<key>STORAGE_BUCKET</key>
	<string>mezcalmos-31f1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804036698204:ios:0cc8c3b4a501b9dd3f8699</string>
	<key>DATABASE_URL</key>
	<string>https://mezcalmos-31f1c-default-rtdb.firebaseio.com</string>
</dict>
</plist>