$colors: (primary: #5C7FFF, secondary:#F8F8F8, blackD:#000F1C, blackL:#1D1D1D, fb:#3A559F, brand:#6779FE, white:#fff);
$gradients:(horizontal:linear-gradient(100deg, #5582FF 0%, #C54EFC 100%) 0% 0%, diagonal:linear-gradient(151deg, #5184FF 0%, #CE49FC 100%) 0% 0%);
$border-value:0.5px solid #ECECEC;
$bold:'productSansBold';
$regular:'productSans';
$italic:'productSansItalic';
$boldItalic:'productSansBoldItalic';