::v-deep .map {
    position: absolute;
    height: calc(100% - 6.25rem);
    left: 0;
    width: 100%;
    top: 6.25rem;
    z-index: 0;
}

.btnP {
    position: absolute;
    width: calc(100% - 2rem);
    z-index: 9;
    bottom: 2rem;
    left: 1rem;
    padding: 0.5rem;
    border-radius: 4px;

    &::v-deep .btn {
        height: 2.3rem;
    }

    .user_name {
        margin-left: 0.8rem;

        h5,
        h4 {
            margin: 0;
        }
    }

    .ride_details {
        margin-left: 1rem;
    }


}